.volunteer-head-section {
    background: url(../images/volunteer_head.jpg);
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}
.section-text {
    padding: 90px 0;
    color: #fff;
}
.team-card {
    background: #fff;
    border-radius: 5px;
    box-shadow: -1px -2px 49px 8px rgba(0, 0, 0, 0.12);
}
.team-card img {
    width: 100%;
    border-radius: 5px;
}
.team-card:hover {
    box-shadow: 8px 14px 49px 20px rgba(0, 0, 0, 0.12);
    transition: 300ms;
}
.btn-rubies {
    color: #fff;
    background-color: #ff6600b1;
}
.btn-rubies:hover {
    background-color: #ff6600;
}